@font-face {
	font-family: "marvel";
	src: url("Marvel-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "advent";
	src: url("AdventPro-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "julius";
	src: url("JuliusSansOne-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "thasa";
	src: url("Thasadith-Regular.ttf") format("truetype");
}

body {
	margin: 0;
	font-family: advent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.navbar {
	font-family: julius;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.img-embedded {
	font-family: thasa;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
